h1{
    font-family:'Kanit',Arial, Helvetica, sans-serif;
    font-size: 20pt;
}
body{
    font-family:'Kanit',Arial, Helvetica, sans-serif;
    font-size: 16pt;
}
.box{
        width: 400px;
        height: 400px;
        color: rgb(255, 255, 255);
        background-color:rgb(161, 213, 255);
        border: 5px dotted rgb(255, 255, 173);
        padding-top: 10px;
        margin: 50px 25px;
        transition: all ease 0.3s;
        text-align: center;
        text-decoration: underline;
    }

.box:hover{
    background-color:rgb(255, 189, 189);
    box-shadow: 15px 10px rgba(33,33, 33, .2);
    transform: translateY(-5px);
}
